
<div class="container">



<div class="flex mt-8">
    <a href="/" class="bg-green-700 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded mr-8">Tất cả đất</a>
    <a href="/requestAllTransferLand" class="bg-green-700 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded">Tất cả yêu cầu chuyển đất</a>
</div>



  <table class="table table-striped mt-6">
    <thead>
        <tr>
            <th style="text-align:center;">Mã chuyển</th>
            <th style="text-align:center;">Mã đất</th>
            <th style="text-align:center;">Ngày yêu cầu</th>
            <th style="text-align:center;">Người chuyển</th>
            <th style="text-align:center;">Người nhận</th>
            <th style="text-align:center;">Người nhận xác nhận</th>
            <th style="text-align:center;">Admin xác nhận</th>
            <th style="text-align:center;">Hủy</th>

        </tr>

    </thead>
    <tbody>
           <% for(var element of menu){ %>
            <tr>
                <td style="text-align:center;"><%= element.key %></td>
                <td style="text-align:center;"><%= element.value.Land %></td>
                <td style="text-align:center;"><%= element.value.TimeStart %></td>
                <%if(typeof element.value.From == 'object'){
                    let m="";
                    let array = [];
                    for(let el of element.value.From){
                      m += Object.keys(el)+"/"
                  }%>
                    <td style="text-align:center"><%= m.substring(m,m.length-1)%></td>
                  <%}else{%>
                    <td style="text-align:center"><%= element.value.From%></td>
                  <%}%>

                  <%if(typeof element.value.To == 'object'){
                    let m="";
                    let array = [];
                    for(let el of element.value.To){
                      m += Object.keys(el)+"/"
                  }%>
                    <td style="text-align:center"><%= m.substring(m,m.length-1)%></td>
                  <%}else{%>
                    <td style="text-align:center"><%= element.value.To%></td>
                  <%}%>

                  <%if(typeof element.value.To == 'object'){%>
                    <% 
                    let array = [];
                    let countConfirmFromTransfer = 0;
                    for(let el of element.value.To){
                      if(Object.values(el) == "false"){
                        countConfirmFromTransfer++;
                        array.push(Object.keys(el))
                      }
                    }
                    if(countConfirmFromTransfer == 0){%>
                      <td style="text-align:center; color:green;">Đã xác nhận</td>
                      <%  if(!element.value.ConfirmFromAdmin){ %>
                        <td style="text-align:center;">
                            <form action="/confirmTransferAdmin" method="POST">
                                <input type="hidden" name="key" value=<%= element.key %> >
                                <button  id="confirm" type="submit" class="bg-green-700 hover:bg-yellow-700 text-white font-bold py-1 px-4 rounded">Xác nhận chuyển quyền sở hữu đất</button>

                            </form>
                          </td>
                          <% }else{ %>
                            <td style="text-align:center; color:green;">Admin đã xác nhận</td>
                          <%}%>
                    <%}else{%>
                        <td style="text-align:center; color:red;">Người nhận chưa xác nhận <br> {<%= array.join("/")%>} </td>
                        <td style="text-align:center; color:red;">Không thể duyệt</td>
                    <%}%>

                  <%}else{%>
                    <%if(element.value.ConfirmFromReceiver){%>
                        <td style="text-align:center; color:green;">Đã xác nhận</td>
                          <%  if(!element.value.ConfirmFromAdmin){ %>
                                 <td style="text-align:center;">
                                    <form action="/confirmTransferAdmin" method="POST">
                                        <input type="hidden" name="key" value=<%= element.key %> >
                                        <input type="hidden" name="userIdOld" value=<%= element.value.From %> >
                                        <input type="hidden" name="userIdNew" value=<%= element.value.To %> >
                                        <input type="hidden" name="land" value=<%= element.value.Land %> >
                                        <button id="confirm" type="submit" class="bg-green-700 hover:bg-yellow-700 text-white font-bold py-1 px-4 rounded">Xác nhận chuyển quyền sở hữu đất</button>

                                    </form>
                                  </td>
                            <% }else{ %>  
                                <td style="text-align:center; color:green;">Admin đã xác nhận</td>
                            <%}%>

                      
                    <%}else{%>
                        <td style="text-align:center; color:red;">Chưa xác nhận</td>
                        <td style="text-align:center; color:red;">Không thể duyệt</td>
                    <%}%>

                  <%}%>
                  <%if(element.value.ConfirmFromAdmin){%>
                    <td style="text-align:center; color:green;">Admin đã xác nhận</td>
                  <%}else{%>
                    <td style="text-align:center h-full" style="height: 100%;"> 
                      <form action="/cancelTransferLane" method="POST">
                          <input type="hidden" name="keyTransfer" value=<%= element.key%> >
                          <input type="hidden" name="keyLand" value=<%= element.value.Land%> >
                          <input type="hidden" name="receiver" value=<%= element.value.To%> >
                          <input type="hidden" name="receiverConfirm" value=<%= element.value.ConfirmFromReceiver%> >
  
                          <button type="submit" class="bg-red-700 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">Hủy chuyển</button>
                      </form>
                    </td>
                  <%}%>
                 


                </tr>
           <%}%>
    </tbody>
  </table>




</div>

<script>

  $("#confirm").click(function(){
        $('#loading').html(
          `
          <div class="flex justify-center items-center" style="position:absolute;height:80%;width:100%;background:rgba(0, 0, 0, 0.5);">
              <div
              class="
                  animate-spin
                  rounded-full
                  h-16
                  w-16
                  border-t-2 border-b-2 border-purple-500
              "
              ></div>&emsp;
              <div>LOADING...</div>
          </div>
          `
          )
        // $("#submitTransferToken").submit()
})
</script>