	 <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->


    <link rel="stylesheet" type="text/css" href="/css/util.css">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">




<!-- <a href="/transferLand" class="btn btn-success">Chuyển quyền sở hữu</a> -->

<div class="container">

  <br>
  <% if(requestPerson == "transferUser"){%>
    <%if(detail.Status == "Đã duyệt"){%>
      <a href="/transferLand/<%= key %>" class="bg-red-700 hover:bg-orange-700 text-white font-bold py-2 px-4 rounded">Chuyển quyền sở hữu mảnh đất này</a>
    <%}else{%>
      <a href="/modifyUI/<%= key %>" class="bg-blue-700 hover:bg-orange-700 text-white font-bold py-2 px-4 rounded">Sửa</a>
    <%}%>

  <%}else if(requestPerson == "receiveUser"){%>
    <form action="/processTransfer" method="POST">
      <input type="hidden" name="keyTransfer" value=<%= keyTransfer %>>
      <input type="hidden" name="position" value=<%= position %>>
      <input type="hidden" name="confirmed" value=<%= confirmed %>>
      <button id="detail" type="submit" class="bg-green-700 hover:bg-orange-700 text-white font-bold py-2 px-4 rounded">Nhận mảnh đất này</button>
    </form>
  <%}else{%>

  <%}%>
  <br>
  <br>
 <h1>Thông tin mảnh đất</h1>
 <br>
  <table class="table table-bordered">
    <tbody>
      <tr>
        <td width="210px">  UserId</td>
        <%if( typeof detail.UserId == "object"){%>
          <td><b><%= detail.UserId.join(',') %></b></td>
        <%}else{%>
          <td><b><%= detail.UserId %></b></td>
        <%}%>
      </tr>
      <tr>

      <td width="210px">  Người sở hữu</td>
      <%if( typeof detail.Owner == "object"){%>
        <td><b><%= detail.Owner.join(',') %></b></td>
      <%}else{%>
        <td><b><%= detail.Owner %></b></td>
      <%}%>


      </tr>
        <tr>
        <td width="210px">
             Thửa đất số 
        </td>
        <td> <b><%= detail.ThuaDatSo%></b></td>
      </tr>

        <tr>
        <td width="210px">
            Các số thửa giáp ranh
        </td>
        <td> <b><%= detail.CacSoThuaGiapRanh%></b></td>
      </tr>

      <tr>
        <td width="210px"> Tờ bản đồ số </td>
        <td> <b><%= detail.ToBanDo5o%></b></td>
      </tr>
      <tr>
        <td width="210px">  Diện tích  </td>
        <td> <b><%= detail.DienTich%> m2</b></td>
      </tr>
            <tr>
        <td width="210px">Hình thức sử dụng</td>
        <td><b><%= detail.HinhThucSuDung%></b></td>
      </tr>
            <tr>
        <td width="210px"> Mục đích sử dụng </td>
        <td>  <b><%= detail.MucDichSuDung%></b> </td>
      </tr>
      <tr>
        <td width="210px"> Thời hạn sử dụng </td>
        <td> <b><%= detail.ThoiHanSuDung%></b></td>
      </tr>  
      <tr>
        <td width="210px"> Nguồn gốc sử dụng  
        </td>
        <td><b><%= detail.NguocGocSuDung%></b></td>
      </tr>  
      <tr>
        <td width="210px">   Thời gian đăng ký </td>
        <td><b><%= detail.ThoiGianDangKy%></b></td>
      </tr>  
    
    </tbody>
  </table>
</div>


<div class="container">
  <h1>Lịch sử chuyển nhượng</h1>
  <br>
  <table class="table table-bordered"> 
    <tbody>
      <tr>
        <th>Thời gian</th>
        <th>Thông tin</th>
      </tr>
      <%for(let el of detail.Transactions){%>
        <tr>
          <td><%= Object.keys(el)[0]%></td>
          <td><%= Object.values(el)[0]%></td>
        </tr>
      <%}%>
      <tr>
        
      </tr>
    </tbody>

  </table>

</div>

<div class="container">
  <h1>Toạ độ các đỉnh của mảnh đất </h1>
  <% for (const [key, value] of Object.entries(detail.ToaDoCacDinh)){  %>
      Đỉnh <b><%= key %> <br></b> Latitude: <b><%= value[0] %> </b><br> Longitude: <b><%= value[1] %></b> <br>

  <% } %>
<br>
  <h1>Chiều dài các cạnh </h1>
  <% for (const [key, value] of Object.entries(detail.ChieuDaiCacCanh)){  %>
    Cạnh <b><%= key %> : <%= value %> </b>m<br>
  <% } %>


</div>

<br>
<img style="width: 100%; height: 100%;" src=<%= detail.UrlImage %>>
<br>
<div style="height: 100px;"></div>



<script>

  $("#detail").click(function(){
        $('#loading').html(
          `
          <div class="flex justify-center items-center" style="position:absolute;height:80%;width:100%;background:rgba(0, 0, 0, 0.5);">
              <div
              class="
                  animate-spin
                  rounded-full
                  h-16
                  w-16
                  border-t-2 border-b-2 border-purple-500
              "
              ></div>&emsp;
              <div>LOADING...</div>
          </div>
          `
          )
        // $("#submitTransferToken").submit()
})
</script>








