<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- <link rel="stylesheet" href="/css/register.css"> -->
        <link
      href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="/css/util.css">
	  <link rel="stylesheet" type="text/css" href="/css/main.css">  
    <link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	  <link rel="stylesheet" type="text/css" href="/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500" rel="stylesheet" />
    <link href="/css/search/main.css" rel="stylesheet" />
    
    <title>Land Administration</title>

    <style>

    </style>

</head>
<body>
 <div id="menu">
      <nav
        id="nav"
        class="container mx-auto flex items-center justify-between p-4 py-4 border-b border-gray-600"
      >
        <div>
          <%if(user.role == 'admin'){%>
            <a href="/admin"><img id="logo" src="/images/logo.png" alt="logo" style="height:50px;"/></a>
          <%}else{%>
            <a href="/"><img id="logo" src="/images/logo.png" alt="logo" style="height:50px;"/></a>
          <%}%>
        </div>
        <div>
          <ul id="ulMain" class="flex items-center">

            <%if(user.role == 'manager'){%>
              <p class="text-blue-500"> Xin chào, <%= user.nameOffice%></p>
            <%}else if(user.role == 'admin'){%>
              <p class="text-blue-500"> Xin chào, Admin</p>
            <%}else{%>
              <p class="text-blue-500"> Xin chào, <%= user.fullname%></p>
            <%}%>
            

            &emsp;
            <button  id="notification">
                <i class="fa fa-bell" aria-hidden="true" style="color:lightgreen; font-size: 25px;" ></i>
                <% if(noty.countMessages > 0){ %>
                  <span id="countMessage" class="text-white relative rounded-lg py-1 px-2 bg-red-700" style="position: relative; bottom: 10px;"><%= noty.countMessages%></span>
                <%} %>
            </button>
            <% if(user.role == "user"){%>
            <li class="ml-10">
              <a href="/" id="a1" class="hover:text-red-500 focus:outline-none" style="font-size: 20px;">Đất của tôi</a>
            </li>
            <li class="ml-10">
              <a href="/addAsset" id="a2" class="hover:text-red-500 focus:outline-none" style="font-size: 20px;">Thêm mới</a>
            </li>
            <li class="ml-10">
              <a href="/transferLandOwner" id="a3" class="hover:text-red-500 focus:outline-none" style="font-size: 20px;">Đất chuyển</a>
            </li>
            <li class="ml-10">
              <a href="/receiveLand" id="a4" class="hover:text-red-500 focus:outline-none" style="font-size: 20px;">Đất nhận</a>
            </li>
            <li class="ml-10">
              <a href="/info" id="a5" class="hover:text-red-500 focus:outline-none" style="font-size: 20px;">Thông tin cá nhân</a>
            </li>
            <li class="ml-10">
              <a href="/walletUser" id="a6" class="hover:text-red-500 focus:outline-none" style="font-size: 20px;">Ví</a>
            </li>
            <%}else if(user.role == "admin"){%>
              <li class="ml-12">
                <a  id="b1" href="/adminAddManager"  class="hover:text-red-500 focus:outline-none" style="font-size: 20px;">Thêm nhân viên</a>
              </li>
            <%}else{%>
              <li class="ml-12">
                <a id="a1" href="/" class="hover:text-red-500 focus:outline-none" style="font-size: 20px;">Tất cả đất</a>
              </li>
              <li class="ml-12">
                <a id="c2" href="/requestAllTransferLand" class="hover:text-red-500 focus:outline-none" style="font-size: 20px;">Tất cả yêu cầu chuyển đất</a>
              </li>
              <li class="ml-12">
                <a id="c3" href="/statistical" class="hover:text-red-500 focus:outline-none" style="font-size: 20px;">Thống kê</a>
              </li>
              <li class="ml-12">
                <a id="c4" href="/addToken" class="hover:text-red-500 focus:outline-none" style="font-size: 20px;">Nạp tiền</a>
              </li>
            <%}%>

            <li class="ml-12 ">
              <form id="logout" action="/logout" method="post">
                <a onclick="document.getElementById('logout').submit()" class="nav-link" href="#"  style="font-size: 20px;">Thoát</a>
              </form>
            </li>
          </ul>
        </div>
      </nav>
    </div>

    <div id="message" class="overflow-auto w-72 h-64 bg-gray-800 rounded-b-lg	" style="display: none; position: fixed; top:bottom; left: 60%; z-index: 10;">
      <ul>
              <% for(var element of noty.listMessages){%>
            <!-- <a> -->
            <li class="px-2 py-2 border-b-2 hover:bg-blue-800 text-white " > 
                <span class="px-2"><%= element.Message%></span>  
                <% if(!element.Seen){ %>
                  <span class="text-green-500">NEW</span>
                <%}%>
               <div class="px-2"><%= element.Time %> - <span><%= element.Date %></span></div>
             </li>
            <!-- </a> -->
 
          <%} %>

          
      </ul>
    </div>

    <input type="hidden" value="<%= noty.countMessages%>" id="MessageLength">
    <input type="hidden" value="<%= user.userId%>" id="UserId">

    
    <div id="loading">

    </div>
    <%- body %>


</body>
</html>


  <script type="module" src="/js/handleMessage.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>



  <script>

    let currentURL = window.location.pathname;

    $(document).ready(function(){
      if(currentURL == "/"){

          $("#a1").css("color","#4299e1")


      }else if(currentURL == "/addAsset"){

          $("#a2").css("color","#4299e1")

      }else if(currentURL == "/transferLandOwner"){

          $("#a3").css("color","#4299e1")


      }else if(currentURL == "/receiveLand"){

          $("#a4").css("color","#4299e1")


      }else if(currentURL == "/info"){

          $("#a5").css("color","#4299e1")


      }else if(currentURL == "/walletUser"){

          $("#a6").css("color","#4299e1")


      }else if(currentURL == "/adminAddManager"){


          $("#b1").css("color","#4299e1")


      }else if(currentURL == "/adminDeleteManager"){

          $("#b2").css("color","#4299e1")


      }else if(currentURL == "/requestAllTransferLand"){

          $("#c2").css("color","#4299e1")


      }else if(currentURL == "/statistical"){

          $("#c3").css("color","#4299e1")


      }else if(currentURL == "/addToken"){

          $("#c4").css("color","#4299e1")

      }
    })
    
    // $("#a1").click(function(){
    //   alert(window.location.pathname)
    // })
    // let currentURL = window.location.hostname
    // if();

    // for(let i = 1; i <= 6; i++){

    //   $(`#a${i}`).click(function(){
    //     console.log("CLICK A"+i); 
    //     for(let j = 1 ; j <= 6 ; j++){
    //       if(i == j){
    //         $(`#a${j}`).css("color","blue");
    //       }else{
    //         $(`#a${j}`).css("color,yellow");
    //       }
    //     }
    //   })
    // }

      $("a").click(function(){
    $('#loading').html(
    `
    <div class="flex justify-center items-center" style="position:absolute;height:80%;width:100%;background:rgba(0, 0, 0, 0.5);">
        <div
        class="
            animate-spin
            rounded-full
            h-16
            w-16
            border-t-2 border-b-2 border-purple-500
        "
        ></div>&emsp;
        <div>LOADING...</div>
    </div>
    `
  )
  })
  </script>