
  <%
    if(success.length > 0){
  %>
    <div id="flash" class="alert alert-success d-flex justify-content-between" style="text-align:center;">
      <%= success %>
    <button id="delete">X</button>
    </div>
  <%
    }
  %>



    <div class="container d-flex justify-content-center" style="min-height: 100px;">        
      <div class="s002" id="searchData">
        <form method="POST" action="/searchWithCondition">
          <div class="inner-form">
            <div class="input-field first-wrap">
              <input name="keySearch" id="search" type="text" placeholder="Tìm kiếm" value="<%= keySearch%>" <%= typeSearch === "UserId" ? "" : "disabled"  %> />
            </div>
            <div class="input-field second-wrap">
              <div class="icon-wrap">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                  <path d="M17 12h-5v5h5v-5zM16 1v2H8V1H6v2H5c-1.11 0-1.99.9-1.99 2L3 19c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2h-1V1h-2zm3 18H5V8h14v11z"></path>
                </svg>
              </div>
              <input name="fromTime" class="datepicker" id="depart" type="text" placeholder="Từ thời gian" />
            </div>
            <div class="input-field third-wrap">
              <div class="icon-wrap">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                  <path d="M17 12h-5v5h5v-5zM16 1v2H8V1H6v2H5c-1.11 0-1.99.9-1.99 2L3 19c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2h-1V1h-2zm3 18H5V8h14v11z"></path>
                </svg>
              </div>
              <input name="toTime" class="datepicker" id="return" type="text" placeholder="Đến thời gian" />
            </div>
           
            <div class="input-field fouth-wrap">
              <div class="icon-wrap">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                  <path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"></path>
                </svg>
              </div>
              <select data-trigger="" name="typeSearch" id="selectType">
                <% if(user.role != "user"){%>
                  <option  <%=  typeSearch === "UserId" ? "selected" : ""    %>value="UserId" >UserId</option>
                <%}else{}%>
                <option  <%=  typeSearch === "keyLand" ? "selected" : ""  %> value="keyLand">Mã đất</option>
                <option  <%=  typeSearch === "Đã duyệt" ? "selected" : ""  %> value="approved">Đã duyệt</option>
                <option  <%=  typeSearch === "Chưa duyệt" ? "selected" : ""  %> value="notApprovedYet">Chưa duyệt</option>
                <option  <%=  typeSearch === "Đang chuyển" ? "selected" : "" %> value="transfering">Đang chuyển</option>


              </select>
            </div>
            <div class="input-field fifth-wrap">
              <button class="btn-search" type="submit">Tìm kiếm</button>
            </div>
          </div>
        </form>
      </div>

    </div >


    <div class="container">

    <% if(menu.length > 0) {%>
        <table class="table table-striped mt-6">
          <thead>
            <tr>
              <% if(user.role == 'user'){ %>
                <th>Mã</th>
                <th>Người sở hữu</th>
                <th>Thời gian đăng ký</th>
                <th>Trạng thái</th>
                <th>Sửa thông tin</th>
                <th>Chuyển quyền sở hữu</th>
              <% }else if(user.role == 'manager'){%>
                <th>Mã</th>
                <th>Người sở hữu</th>
                <th>Thời gian đăng ký</th>
                <th>Tỉnh/TP</th>
                <th>Cập nhật trạng thái</th>
              <%}else{%>

              <%}%>
            </tr>
          </thead>

          <tbody>
              <% for(var element of menu){ %>
                <tr>
                  <% if(user.role == 'user'){ %>
                     <td><%= element.key %> </a></td> 
                     <%if(typeof element.value.UserId == "object"){%>
                       <td><%= element.value.UserId.join(",") %></td>
                     <%}else{%>
                       <td><%= element.value.UserId %></td>
                     <%}%>
                     <td><%= element.value.ThoiGianDangKy %></td>
                     <%if(element.value.Status == "Chưa duyệt"){%>
                       <td class="text-red-500"><%= element.value.Status %></td>
                       <td> <a href="/detail/<%= element.key %>" class="bg-blue-700 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">Xem và sửa thông tin</a> </td>
                     <%}else{%>
                       <td class="text-green-500"><%= element.value.Status %></td>
                       <td class="text-red-500">Không thể sửa đổi thông tin</td>
                     <%}%>
                     <td>
                       <% if(element.value.Status == "Đang chuyển"){ %>
                          <p class="text-green-500">Đất đang chuyển nhượng</p>
                       <%}else if(element.value.Status == "Chưa duyệt"){%>
                         <p class="text-red-500">Đất chưa được duyệt không thể chuyển</p>
                       <%}else{%>
                           <a href="./detail/<%= element.key %>" class="bg-green-700 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded">Xem và chuyển quyền sở hữu</a>
                       <%} %>
                     </td>
            
                   <% }else if(user.role == 'manager'){%>
                    <td> <a href="./detail/<%= element.key %>"><%= element.key %> </a></td>
                    <%if(typeof element.value.UserId == "object"){%>
                        <td><%= element.value.UserId.join(",") %></td>
                    <%}else{%>
                        <td><%= element.value.UserId %></td>
                    <%}%>
                        <td><%= element.value.ThoiGianDangKy %></td>
                        <td><%= element.value.LaneOfCity %></td>
                    <%if(element.value.Status == "Đang chuyển"){%>
                        <td class="text-green-700">Đất đang được chuyển</td>
                    <%}else{%>
                
                        <td>
                                    <div class="relative">
                                        <form id="formUpdateLand" action="/updateStatusLandAdmin" method="POST">
                                        <input type="hidden" name="key" value=<%= element.key %> />
                                        <input type="hidden" name="userId" value=<%= element.value.UserId %> />
                                        <select name="status" data-toggle="modal" data-target="#<%= element.key %>" class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-1 px-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-state">
                                            <option 
                                            <%= 
                                                    element.value.Status === "Chưa duyệt" ? "selected" : ""
                                            %> 
                                            >Chưa duyệt</option>
                                            <option 
                                            <%= 
                                                    element.value.Status === "Đã duyệt" ? "selected" : ""
                                            %> 
                                            >Đã duyệt</option>
                                        </select>
                                        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center text-gray-700">
                                            <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
                                        </div>
                                                    <!-- Modal -->
                                    <div class="modal fade" id=<%= element.key %> tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Cập nhật trạng thái</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body text-black" id="<%= element.key%>">
                                            Bạn muốn cập nhật trạng thái mã đất <%= element.key%>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                                            <button id="updateLand" onclick="this.form.submit()" type="button" class="btn btn-primary">Xác nhận</button>
                                        </div>
                                        </div>
                                    </div>
                                    </div>
                                        </form>
                
                                    </div>
                                </td>
                    <%}%>
                     
                     
                   <%}else{%>
                     <!-- admin  -->
                   <%}%>
                     </tr>
            
            
               <%}%>
          
          </tbody>
         
        </table>
            <%}else{%>
              <%if(user.role == "manager"){%>
                <div class="d-flex justify-content-center"><h1>Không có dữ liệu tìm kiếm</h1></div>

              <%}else{%>
                <div class="h-64 w-full">
                  <a href="/addAsset" class="w-full btn btn-outline-success mt-32">Bạn chưa có đất , Đăng ký ngay !</a>
  
                </div>
              <%}%>

              <%}%>

    
    
  </div>



 <script>
   if(document.getElementById("delete")){
    document.getElementById("delete").addEventListener("click",function(){
      document.getElementById("flash").remove()
    })
   }

   document.getElementById("updateLand").addEventListener('click',function(){
     document.getElementById("formUpdateLand").submit();
   })



 </script>

<script src="/js/search/extention/choices.js"></script>
<script src="/js/search/extention/flatpickr.js"></script>
<script>
  flatpickr(".datepicker",
  {});

</script>
<script>
  const choices = new Choices('[data-trigger]',
  {
    searchEnabled: false,
    itemSelectText: '',
  });

</script>



<script>

  // $("a").click(function(){
  //   $('#loading').html(
  //   `
  //   <div class="flex justify-center items-center" style="position:absolute;height:80%;width:100%;background:rgba(0, 0, 0, 0.8);">
  //       <div
  //       class="
  //           animate-spin
  //           rounded-full
  //           h-16
  //           w-16
  //           border-t-2 border-b-2 border-purple-500
  //       "
  //       ></div>
  //   </div>
  //   `
  // )
  // })


    // let typeSearch = "<%= typeSearch %>"

    $(document).ready(function(){
      let typeSearch = $("select#selectType").val();
        console.log(typeSearch)
        if(typeSearch == 'UserId' || typeSearch == "keyLand"){
          console.log("OK")
          $("#search").prop('disabled', false);
          $("#search").css('background-color', "brown");
          $("#search").css('background-color', "white");
        }else{
          $("#search").prop('disabled', true);
          $("#search").val("");
          $("#search").css('background-color', "black");

        }

    });

    $(document).ready(function(){
      $("#selectType").change(function(e){
        let typeSearch = $("select#selectType").val();
        console.log(typeSearch)
        if(typeSearch == 'UserId' || typeSearch == "keyLand"){
          console.log("OK")
          $("#search").prop('disabled', false);
          $("#search").css('background-color', "brown");
          $("#search").css('background-color', "white");
        }else{
          $("#search").prop('disabled', true);
          $("#search").val("");
          $("#search").css('background-color', "black");

        }

      })


    });



  // $(document).ready(function(){
  //   let typeSearch = $("select#selectType").val();
  //   let value = this.value;
  //   $.ajax({type: "POST",url: "/searchWithCondition", data: {keySearch:"",typeSearch:typeSearch}, success: function(result){
  //               $("#allLand").html(result);
  //             }});

  //   });

  //  $(document).ready(function(){
  //       $("#search").on('input',function(e){
  //           let typeSearch = $("select#selectType").val();
  //           let value = this.value;
  //           $.ajax({type: "POST",url: "/searchWithCondition", data: {keySearch:value,typeSearch:typeSearch}, success: function(result){
  //             $("#allLand").html(result);
  //           }});

  //         });

  //     });

    // $(document).ready(function(){
    //     $("#selectType").change(function(e){
    //         let typeSearch = $("select#selectType").val();
    //         console.log(`typesearch ${typeSearch}`)
    //         $.ajax({type: "POST",url: "/typeOfSearch", data: {typeSearch:typeSearch}, success: function(result){
    //           $("#searchData").html(result);
    //         }});

    //       });

    //   });

    // $(document).ready(function(){
    //   // let typeSearch = $("select#selectType").val();
    //     $.ajax({type: "POST",url: "/typeOfSearch", data: {typeOfSearch:""}, success: function(result){
    //       $("#searchData").html(result);
    //     }});

    // });

</script>